@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #151717;
  --background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d7e5ec;
    --background-color: #041f31;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
